.user {
    padding: 24px;
    box-shadow: 0 0 2px var(--black-color);
    display: flex;
    flex-direction: column;
    gap: 16px;

    img {
        width: fit-content;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            display: flex;
            align-items: center;
            gap: 8px;

        }
    }
}