.not-found {
    min-height: calc(100vh - 300px);
    width: 100%;
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;

    img {
        width: 100%;
        max-width: 320px;
    }

    h1 {
        color: var(--primary-color);
        font-size: 32px;
    }

    p {
        color: var(--black-color);
        font-weight: 500;
    }
}