<footer>
	<div class="container">
		<div class="content">
			<img src="../../../assets/images/logo.svg" alt="Logo" />
			<ul class="nav-list">
				<li>Pages</li>
				<mat-divider class="divider" />
				<div class="nav-items">
					@for( footerLink of footerLinks; track footerLink ) {
					<li>
						<a [routerLink]="footerLink">{{
							footerLink | titlecase
						}}</a>
					</li>
					}
				</div>
			</ul>
			<input
				type="search"
				placeholder="Search"
				aria-label="Number"
				class="main-search"
				#userSearch
				(keydown.enter)="onSearchSubmit(userSearch.value)"
				matInput
			/>
		</div>
		<mat-divider class="divider" />
		<div class="copyrights">
			<p>Copyright - Zeyad Mohamed</p>
		</div>
	</div>
</footer>
